html {
  font-size: 16px;
}

/* Hiding the real payment options */
#one-page-checkout-payment-step > :last-child {
  display: none;
}

/* Hiding the loading spinner artifact */
#nemo-checkout-container > .loading-spinner-container {
  display: none;
}
